# Ignore shared libraries
*.so

# Ignore Python bytecode
__pycache__
*.pyc
*.pyo
*.root
*.png
*.list

# jupyterlab checkpoints
.ipynb_checkpoints

# Ignore PyCharm stuff
.idea

# mac 
.DS_Store

*.pyc

# pypi stuff
dist
*.egg-info